$bay-of-many: #264380;
$white: #fff;
$botticelli:#d8e1eb;
$lilac:#f7f8fc;
$geyser: #ced7e0;
$casablanca: #faB555;
$gullGray: #97a6b8;
$catskill:#e6edf5;
$biscay:#1a3163;
$radical: #ff2b5d;

$allColours: (
    bay-of-many: $bay-of-many, 
    white: $white, 
    botticelli: $botticelli, 
    lilac: $lilac, 
    geyser: $geyser, 
    casablanca: $casablanca, 
    gullGray: $gullGray, 
    catskill:$catskill, 
    biscay: $biscay, 
    radical: $radical
);